html,
body {
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Avenir Next Condensed", sans-serif;
  font-size: 16px;
}

.header,
.footer {
  padding: 1rem;
}
.wrapper {
	min-height:100%;
	position:relative;
}

.content {
  /* height of the footer element */
  padding-bottom: 5rem;
}

.intro-text {
  margin: auto;
  max-width: 70%;
}

.calculator-container {
  background: black;
  border-radius: 1em;
  box-shadow: 8px 8px 4px #888888;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em;
  position: static;
  width: 20rem;
}

.display {
  background: paleturquoise;
  text-align: right;
  padding: 1em;
  height: 2em;
  font-size: 1.25em;
  font-weight: bold;
}

.button {
  background: paleturquoise;
  margin: 0.25rem;
  width: 4rem;
  border-radius: 25%;
  border: none;
  height: 2em;
  color: black;
}

.button:active {
  background: darkturquoise;
}

.equal-sign {
  width: 90%;
}

.footer {
  background: paleturquoise;
  bottom: 0;
  height: 3rem;
  /*absolute position will keep the footer at the bottom of the container it is in*/
  position: absolute;
  width: 100%;
}
