html,
body {
  font-family: "Avenir Next Condensed", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header,
.footer {
  padding: 1rem;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  /* height of the footer element */
  padding-bottom: 5rem;
}

.intro-text {
  margin: auto;
  max-width: 70%;
}

.calculator-container {
  background: black;
  border-radius: 1em;
  box-shadow: 8px 8px 4px #888888;
  left: 0;
  margin: auto;
  padding: 1em;
  position: static;
  right: 0;
  width: 20rem;
}

.display {
  background: paleturquoise;
  font-size: 1.25em;
  font-weight: bold;
  height: 2em;
  padding: 1em;
  text-align: right;
}

.button {
  background: paleturquoise;
  border: none;
  border-radius: 25%;
  color: black;
  height: 2em;
  margin: 0.25rem;
  width: 4rem;
}

.button:active {
  background: darkturquoise;
}

.equal-sign {
  width: 90%;
}

.footer {
  background: paleturquoise;
  bottom: 0;
  height: 3rem;
  /*absolute position will keep the footer at the bottom of the container it is in*/
  position: absolute;
  width: 100%;
}

.footer-links {
  color: darkturquoise;
  font-weight: bold;
  text-decoration: none;
}
